# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Flutter / Dart
app_mobile/.dart_tool/
app_mobile/.flutter-plugins
app_mobile/.flutter-plugins-dependencies
app_mobile/.packages
app_mobile/build/
app_mobile/.pub-cache/
app_mobile/.pub/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Logs
*.log
